/Debug
/ra_gen
/ra_cfg
ra/*
!ra/fsp
ra/fsp/*
!ra/fsp/src
ra/fsp/src/*
!ra/fsp/src/r_drw
ra/fsp/src/r_drw/*
!ra/fsp/src/r_dtc
ra/fsp/src/r_dtc/*
!ra/fsp/src/bsp
ra/fsp/src/bsp/*
!ra/fsp/src/bsp/mcu
ra/fsp/src/bsp/mcu/*
!ra/fsp/src/bsp/mcu/all
ra/fsp/src/bsp/mcu/all/*
!ra/fsp/src/r_drw/r_drw_memory.c
!ra/fsp/src/r_dtc/r_dtc.c
!ra/fsp/src/bsp/mcu/all/bsp_common.h
src/lvgl/*

/JLinkLog.log
/build/
